@font-face {
  font-family: 'NanumHeuinGgoRiSuRi';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHeuinGgoRiSuRi/NanumHeuinGgoRiSuRi.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHeuinGgoRiSuRi/NanumHeuinGgoRiSuRi.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHeuinGgoRiSuRi/NanumHeuinGgoRiSuRi.ttf') format('truetype');
}